.r-dropdown{
  position: relative;
  display: inline-block;

  .r-dropdown-list{
    background-color: $color-white;
    position: absolute;
    border: 1px solid $color-border;
    margin: 5px 0;
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;

    li{
      cursor: pointer;
      list-style: none;
      line-height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      text-align: left;

      a{
        display: block;
        color: $color-black;
        width: 100%;
        padding: 0 20px 0 10px;
      }

      &:hover{
        background-color: $color-white-dark;
      }
    }
  }
}