.r-tag{
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 2px 4px 2px 0;
  padding: 0 8px;
  border: 1px solid $color-border;
  border-radius: $radius;
  background: $color-white-dark;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;

  .ion-ios-close-empty{
    cursor: pointer;
    margin-left: 8px;
    position: relative;
    top: -1px;
  }
}

.r-tag-disabled{
  cursor: not-allowed;
  .ion-ios-close-empty{
    cursor: not-allowed;
  }
}

.r-tag-small{
  height: 16px;
  line-height: 16px;

  .ion-ios-close-empty{
    top: -2px;
  }
}