.r-radio{
  margin-right: 8px;
  cursor: pointer;

  >.r-icon{
    &:hover{
      color: $color-primary;
    }
  }

  span{
    vertical-align: middle;
  }

  *{
    margin: 0 2px;
  }
}

.r-radio-checked{
  >.r-icon{
    color: $color-primary;
  }
}

.r-radio-disabled{
  cursor: not-allowed;
  color: $color-white-dark;
  
  >.r-icon{
    &:hover{
      color: $color-white-dark;
    }
  }
}

.r-radio-group-vertical{
  .r-radio{
    display: block;
  }
}