.r-radio{
  margin-right: 8px;
  cursor: pointer;

  .r-radio-icon{
    font-size: 18px;
    
    &:hover{
      color: $color-primary;
    }
  }

  span{
    vertical-align: middle;
  }

  *{
    margin: 0 2px;
  }
}

.r-radio-checked{
  .r-radio-icon{
    color: $color-primary;
  }
}

.r-radio-disabled{
  cursor: not-allowed;
  color: $color-gray-light;

  .r-radio-icon{
    &:hover{
      color: $color-gray-light;
    }
  }
}

.r-radio-group-vertical{
  .r-radio{
    display: block;
  }
}