.r-input-wrapper{
  position: relative;
  vertical-align: middle;

  .r-input-icon{
    position: absolute;
    right: 0;
    width: $height;
    height: $height;
    line-height: $height;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }

  .r-input{
    display: block;
    font: inherit;
    width: 100%;
    padding-left: 10px;
    padding-right: $height;
    height: $height;
    line-height: 1.3;
    border: 1px solid $color-border;
    background-color: $color-white;
    border-radius: $radius;
    outline: 0;
    -webkit-appearance: none;
  
    &:hover{
      border-color: $color-gray;
    }

    &:focus{
      border-color: $color-primary;
    }
  
    &:disabled{
      cursor: not-allowed;
      color: $color-gray;
      background-color: $color-white-dark;
    }
  }
}
.r-input-wrapper-textarea{
  .r-input{
    height: auto;
    padding: 6px 10px;
    resize: vertical;
  }
  
}
.r-input-wrapper-small{
  .r-input{
    height: $minHeight;
    line-height: $minHeight;
    font-size: 12px;
    padding-right: $minHeight;
  }
  .r-icon{
    width: $minHeight;
    height: $minHeight;
    line-height: $minHeight;
    font-size: 16px;
  }
}