.r-menu-horizontal{
  background-color: $color-white;
  height: 60px;
  line-height: 60px;
  position: relative;
  font-size: 14px;

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: $color-border;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  >.r-menu-item, .r-sub-menu{
    height: inherit;
    line-height: inherit;
    border-bottom: 2px solid transparent;
    float: left;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    user-select: none;

    a{
      color: inherit;
      display: block;

      >i{
        margin-right: 6px;
      }
    }

    .r-sub-menu-title{
      >i{
        margin-right: 6px;
      }
    }

    &:hover{
      color: $color-info;
      border-bottom-color: $color-info;
    }
  }

  >.r-menu-item-active{
    color: $color-info;
    border-bottom-color: $color-info;
  }

  .r-sub-menu-dropdown{
    min-width: 120px;
    position: absolute;
    z-index: 900;
    margin: 5px 0;
    padding: 5px 0;
    background-color: $color-white;
    border: 1px solid $color-border;
    overflow: hidden;
    width: auto;
    left: 0;

    .r-menu-item{
      height: $height;
      line-height: $height;
      text-align: left;
      white-space: nowrap;
      padding: 0 10px;
      color: $color-black;

      a{
        color: inherit;
      }

      &:hover{
        background-color: $color-white-dark;
        color: $color-black;
      }
    }

    .r-menu-item-active{
      background-color: $color-primary;
      color: $color-white;

      &:hover{
        background-color: $color-primary;
        color: $color-white;  
      }
    }
  }

  .r-menu-group-title{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 12px;
    color: $color-silver;
  }
}

// 垂直模式
.r-menu-vertical{
  width: 160px;
  background-color: $color-white;
  position: relative;
  font-size: 14px;

  &:after{
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: $color-border;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  >.r-menu-item, .r-sub-menu{
    height: 50px;
    line-height: 50px;
    user-select: none;

    a{
      color: inherit;
      display: block;

      >i{
        margin-right: 6px;
      }
    }

    .r-sub-menu-title{
      >i{
        margin-right: 6px;
      }
    }
  }

  .r-menu-item{
    cursor: pointer;
    padding: 0 10px;
    border-right: 2px solid transparent;

    &:hover{
      background-color: $color-white-dark;
    }
  }

  .r-menu-group-title{
    font-size: 12px;
    color: $color-silver;
  }

  .r-sub-menu{
    height: auto;

    .r-sub-menu-dropdown{
      .r-menu-item{
        padding-left: 30px;
      }
    }

    .r-sub-menu-title{
      cursor: pointer;
      padding: 0 10px;

      &:hover{
        background-color: $color-white-dark;
      }  

      .ion-ios-arrow-down, .ion-ios-arrow-up{
        float: right;
      }
    }

    .r-menu-group-title{
      padding-left: 20px;
    }
  }

  .r-menu-item-active{
    position: relative;
    color: $color-info;
    border-color: $color-primary;
    z-index: 2;
  }
}