extends ./_layout

block title
  | card

block content
  r-card(
    style="margin: 10px; width:200px;"
    title="你好"
  )
    p(slot="title")
      | 标准卡片
    
    a(href="#", slot="extra")
      r-icon(type="ios-loop-strong")
      span(style="vertical-align: middle;")| 换一换
    
    r-card(
      title="标准卡片"
    ) 
      a(href="#", slot="extra")
        r-icon(type="ios-loop-strong")
        span(style="vertical-align: middle;")| 换一换
      
      p| 卡片内容
      p| 卡片内容
      p| 卡片内容

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })
