extends ./_layout

block title
  | Grid

block content
  r-row(:gutter="10")
    r-col(:span="4")
      div| hello
    r-col(:span="20")
      div| world

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })
