extends ./_layout

block title
  | Icon

block content
  rb-icon(type="arrow-up-a", size="32")
  rb-icon(type="arrow-right-a", color="red", size="32")
  rb-icon(type="load-a", color="green", size="32")
  rb-icon(type="load-c", color="green", size="32", :auto-rotate="true")

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })
