extends ./_layout

block title
  | page

block content
  div.panel
    h3| page
  
    div.margin-10
      r-page(
        v-model="currPage",
        :total="total",
        :show-total="true",
        size="default",
        @change="pageChange"
      )

  div.panel
    h3| page
  
    div.margin-10
      r-page(
        v-model="currPage",
        :total="total",
        :show-total="false",
        size="small",
        :page-size="1000",
        @change="pageChange"
      )

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
          currPage: 1,
          total: 23400,
        }
      },
      methods: {
        pageChange (num) {
          console.log(num)
        }
      }
    })
