extends ./_layout

block title
  | tableEditor

block content
  div(style="padding:10px;")
    r-button(@click.native="print") 打印
    r-input()

    //- div(style="width:auto;height:500px;overflow:scroll;")

    r-form
      r-form-item(label="hehe")
        div(style="height: 300px; overflow: auto;")
          r-table-editor(:value="editorValue", ref="editor")
    
block script
  script.
    var data = [[1,2]]

    vm = new Vue({
      el: '#app',
      data () {
        return {
          data: data,
          cols: [
            {
              name: '姓名',
              type: 'text'
            },
            {
              name: '数学',
              type: 'text'
            },
            {
              name: '颜色',
              type: 'select',
              enums: '蓝色 | 红色 | 绿色 | 橙色'
            }
          ]
        }
      },
      watch: {
        
      },
      computed: {
        editorValue () {
          return {
            data: [],
            extra: {
              data: null,
              cols: null,
            }
          }
        }
      },
      methods: {
        print () {
          console.log( this.$refs.editor.getData() )
        }
      }
    })
