.r-table-editor{
  outline: none;

  tr:hover{
    background-color: transparent;
  }

  th{
    text-align: center;
    cursor: pointer;
  }

  th,td{
    padding: 0 10px;
  }

  .input-td{
    outline: 2px solid $color-danger;
  }

  .input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;

  }

  td.text{
    overflow: hidden;
  }

  table{
    table-layout: fixed;

    div{
      overflow: unset;
    }
  }
}