.r-table-editor{
  outline: none;
  position: relative;

  .r-table-editor-thead{
    position: sticky;
    top: 0;
    left: 0;
  }
  .r-table-editor-tbody{
    background-color: #fff;
  }

  tr:hover{
    background-color: transparent;
  }

  th{
    text-align: center;
    cursor: pointer;
  }

  th,td{
    padding: 0 10px;
  }

  .input-td{
    box-shadow: inset 0 0 0 2px $color-danger;
  }

  .input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;

  }

  td.text{
    overflow: hidden;
  }

  table{
    table-layout: fixed;

    div{
      overflow: unset;
    }
  }
}