.r-select{
  &:hover{
    .r-select-selection{
      border-color: $color-01;
    }
  }
}

.r-select-clearable{
  .ion-ios-close{
    display: none;
  }

  .r-select-selection{
    &:hover{
      .ion-arrow-up-b, .ion-arrow-down-b{
        display: none;
      }
      .ion-ios-close{
        display: inline-block;
      }
    }
  }
}

.r-select-selection{
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #e6e6e6;
  background-color: $color-20;
  border-radius: $radius;
  min-height: 32px;

  >.r-icon{
    color: $color-27;
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 50%;
    margin-top: -11px;
  }

  .r-select-input-wrapper{
    margin-right: 20px;
  }

  input{
    cursor: pointer;
    display: inline-block;
    height: 29px;
    line-height: 32px;
    outline: 0;
    border: none;
    overflow: visible;
  }
}

.r-select-dropdown{
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  background-color: $color-20;
  border-radius: $radius;
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}

.r-select-dropdown-list{
  list-style: none;

  li{
    cursor: pointer;
    list-style: none;
    padding: 0 10px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
      background-color: $color-22;
    }
  }

  .r-select-option-selected{
    background-color: $color-01;
    color: $color-20;

    &:hover{
      background-color: $color-01;
    }
  } 
}

.r-select-multiple{
  .r-tag{
    // margin-bottom: 0;
  }
  .r-select-option-selected{
    background-color: $color-20;
    color: $color-01;

    &:hover{
      background-color: $color-22;
    }
  }
}

