@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.r-icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: inherit;
}

.r-icon-rotate {
  animation: circle 1.5s infinite linear;
}
