.r-page{

  margin: 10px 0;
  text-align: right;

  .r-page-total{
    margin-right: 10px;
    vertical-align: middle;
  }

  .r-page-mid{
    display: inline-block;
    margin: 0 10px;
    width: 50px;
  }
  
  .r-input-wrapper{
    display: inline-block;
    width: 30px;
  }
}