.r-page{

  .r-page-total{
    margin-right: 10px;
    vertical-align: middle;
  }

  .r-page-mid{
    display: inline-block;
    margin: 0 10px;
    width: 75px;
  }
  
  .r-input-wrapper{
    display: inline-block;
    width: 30px;
  }
}